body{
    background-color: magenta;
    font-size: 15px;
}
#result , #camera{
    width: 310px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 18px skyblue;
    background-color: skyblue;
}